<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
								http://www.springframework.org/schema/beans/spring-beans.xsd
								http://www.springframework.org/schema/security
								http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 方法保护 -->
	<global-method-security secured-annotations="enabled"
		jsr250-annotations="disabled" pre-post-annotations="enabled" />

	<!-- 不需要Security保护的资源 -->
	<http pattern="/resources/**" security="none" />

	<!-- 需要Security保护的资源 -->
	<http entry-point-ref="loginUrlEntryPoint">
		<intercept-url pattern="/login.**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/admin/login.**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		

		<!-- Header管理 -->
		<headers>
			<cache-control /> <!-- XSS -->
			<content-type-options />
			<frame-options />
			<xss-protection />
		</headers>

		<!-- Session策略 -->
		<session-management session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" expired-url="/login.html" />
		</session-management>

		<!-- Token策略 -->
		<csrf />

	</http>
	
	<!-- 盐 -->
	<beans:bean id="saltSource"
		class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value = "username"></beans:property>
	</beans:bean>
	
	<!-- md5加密方式 -->
	<beans:bean id="md5" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
	</beans:bean>
	
	<!-- userDetailsService获取jdbc数据 -->
	<jdbc-user-service id="userDetailsService"
				data-source-ref="dataSource"
				users-by-username-query="select u_username as username, u_password as password, u_enabled as enabled from t_user where u_username = ?"
				authorities-by-username-query="select username, authority from t_user_authority where username = ?"/>

	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<!-- <beans:property name="passwordEncoder" ref="md5"></beans:property>
		<beans:property name="saltSource" ref="saltSource"></beans:property> -->
		<beans:property name="userDetailsService" ref="userDetailsService"></beans:property>
	</beans:bean>
	
	<!-- ======================== AUTHENTICATION ======================= -->
	<beans:bean  id="org.springframework.security.authenticationManager"  class="org.springframework.security.authentication.ProviderManager">
		<beans:property name="providers">
			<beans:list>
				<beans:ref local="daoAuthenticationProvider"/>
			</beans:list>
		</beans:property>
	</beans:bean>
</beans:beans>